
:root,body {
	--h1-size: 22px;
	--h2-size: 18px;
	--h3-size: 16px;
	--h4-size: 14px;
	--h5-size: 13px;
	--h6-size: 12px;
	--color: red;
}

body {
	color: var(--color);
}

h1,.h1 { font-size: var(--h1-size); }
h2,.h2 { font-size: var(--h2-size); }
h3,.h3 { font-size: var(--h3-size); }
h4,.h4 { font-size: var(--h4-size); }
h5,.h5 { font-size: var(--h5-size); }
h6,.h6 { font-size: var(--h6-size); }