

.flat {
	--btn-padding: var(--flat-btn-padding);
}

.Button.uxa {
	--webkit-appearance: none;
	border: 1px solid transparent;
	flex: 0 0 auto;

	--height: var(--uxa-ctrl);
	--pad: calc(var(--height) * 0.5);

	height: var(--height);
	padding: 0px var(--pad);
	min-width: var(--height);
	
	margin-right: var(--gap);
	position: relative;
	border-radius: 2px;

	// text-transform: uppercase;
	// font-size: var(--btn-font-size);

	--color: white;
	color: var(--color);

	--icon-color: inherit;

	b,i {
		font-weight: inherit;
		font-style: inherit;
	}

	b {
		font: var(--uxa-b1);
		text-transform: uppercase;
	}

	.Icon {
		color: var(--icon-color);
	}

	.Icon:not(:only-child) {
		position: absolute;
		line-height: var(--btn-height);
		top: 0px;
		left: 0px;
		font-size: 20px;
	}

	.Icon + b {
		margin-left: 20px;
	}

	&:focus {
		outline: none;
	}

	&:hover {
		box-shadow: 0px 2px 2px fade(black,20%);
		background: var(--uxa-tint-A500);
	}

	&:focus {
		background: var(--uxa-tint-A700);
	}

	background: var(--uxa-tint-A400);
}

.Button:last-child {
	margin-right: 0px;
}

.flat .Button.uxa {
	background: transparent;

	--pad: calc(var(--height) * 0.25);

	--color: var(--uxa-tint-A400);
	--icon-color: var(--uxa-tint-A400);

	color: var(--color);
	margin-right: 0px;

	&.muted {
		color: var(--muted-color);
	}

	b {
		position: relative;
		border-color: var(--uxa-tint-A400);
	}

	b:before {
		position: absolute;
		content: " ";
		display: block;
		top: 100%;
		left: 50%;
		right: 50%;
		height: 2px;
		margin-top: 4px;
		transition: all 0.2s ease;
		border-bottom: 2px solid;
		border-color: inherit;
		opacity: 0;
	}

	&:hover {
		box-shadow: none;
	}

	&:focus {
		background: transparent;
	}

	&:hover b:before {
		left: 0%;
		right: 0%;
		opacity: 1;
	}
}

.list > .Button.uxa {
	background: transparent;
	color: var(--primary-color);
	&.muted {
		color: var(--muted-color);
	}
}

.IconButton.uxa.uxa {
	background: transparent;
	padding: 0px;
	
	text-align: center;

	min-width: var(--height);
	--icon-color: var(--uxa-tint-1000);
	display: inline-flex;

	.Icon {
		opacity: var(--icon-opacity);
		transition: all 0.1s ease;
		vertical-align: top;
		margin: auto;
		will-change: opacity;
	}

	&:hover {
		--icon-opacity: var(--icon-hover-opacity);
		background: transparent;
		box-shadow: none;
	}

	&:active {
		--icon-opacity: var(--icon-active-opacity);
	}

	&:focus {
		background: transparent;
		color: var(--uxa-pri-A400);
	}

	&.floating {
		// --size: var(--floating-btn-size);
		position: absolute;
		top: 50%;
		margin-top: calc(var(--height) * -0.5);
		margin-left: calc(var(--height) * -0.5);
		border-radius: 50%;
		z-index: 10;

		background: var(--icon-color);
		opacity: var(--icon-opacity);

		&:hover {
			background: var(--icon-color);	
		}

		&:active {
			background: var(--icon-color);
		}

		.Icon {
			color: black;
			opacity: 1;
		}
	}
}
