

.button {
	// background: currentColor;
	appearance: none;
	--webkit-appearance: none;

	display: inline-flex;
	vertical-align: top;
	// default flex
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: var(--button-font-size);
	padding: var(--button-pad);
	height: var(--button-height);
	border-radius: 2px;
	border: 1px solid transparent;
	cursor: pointer;

	&:hover {
		border-color: currentColor;
	}
}

.button.primary {
	color: var(--blue);
}