// To fetch colors from generator
// copy([].map.call(document.querySelectorAll('.lc'),function(v){ return '#' + v.innerText.match(/[\w]{6}/)[0]; }).slice(0,11).join(","))


:root {
	--uxa-base-bg: white;
	--uxa-base-alt-bg: #F7F2E3;

	--uxa-base-pri: #62abff;
	--uxa-base-sec: #FC4D79;

	--uxa-base-link: #1A739C;
	--uxa-base-muted: rgb(134, 142, 150);

	--uxa-dark-bg: #202B31; // #141B1F;
	--uxa-dark-alt-bg: #141B1F; // #141B1F;
	--uxa-dark-text: #bdc2c7;
	--uxa-dark-pri: #62abff;
	--uxa-dark-sec: #FC4D79;
}

.tint-scale(@tint,@c0,@c50,@c100,@c200,@c300,@c400,@c500,@c600,@c700,@c800,@c900) {
	--uxa-@{tint}-0: @c0;
	--uxa-@{tint}-50: @c50;
	--uxa-@{tint}-100: @c100;
	--uxa-@{tint}-200: @c200;
	--uxa-@{tint}-300: @c300;
	--uxa-@{tint}-400: @c400;
	--uxa-@{tint}-500: @c500;
	--uxa-@{tint}-600: @c600;
	--uxa-@{tint}-700: @c700;
	--uxa-@{tint}-800: @c800;
	--uxa-@{tint}-900: @c900;
}

.tint-map(@tint,@target) {
	--uxa-@{target}-0:   ~'var(--uxa-@{tint}-0)';
	--uxa-@{target}-50:  ~'var(--uxa-@{tint}-50)';
	--uxa-@{target}-100: ~'var(--uxa-@{tint}-100)';
	--uxa-@{target}-200: ~'var(--uxa-@{tint}-200)';
	--uxa-@{target}-300: ~'var(--uxa-@{tint}-300)';
	--uxa-@{target}-400: ~'var(--uxa-@{tint}-400)';
	--uxa-@{target}-500: ~'var(--uxa-@{tint}-500)';
	--uxa-@{target}-600: ~'var(--uxa-@{tint}-600)';
	--uxa-@{target}-700: ~'var(--uxa-@{tint}-700)';
	--uxa-@{target}-800: ~'var(--uxa-@{tint}-800)';
	--uxa-@{target}-900: ~'var(--uxa-@{tint}-900)';
}

:root {
	// weights       0       50      100     200     300     400     500     600     700     800     900
	.tint-scale(base,#ffffff,#f5f5f5,#DDE4E8,#CAD0D4,#AEB3B6,#8B8F92,#696B6E,#4B4D4F,#363739,#202022,#000000);
	.tint-scale(dark,#141B1F,#272E32,#3B4246,#4F5659,#63696D,#777D80,#8A9194,#9EA4A7,#B2B8BB,#C6CCCE,#DAE0E2);
	.tint-scale(pri, #085DBF,#1D6BC5,#3379CB,#4887D1,#5E96D7,#73A4DD,#89B2E3,#9EC1E9,#B4CFEF,#C9DDF5,#DFECFB);
	.tint-scale(sec, #08BF67,#1DC573,#33CB80,#48D18D,#5ED79A,#73DDA7,#89E3B4,#9EE9C1,#B4EFCE,#C9F5DB,#DFFBE8);
	.tint-map(base,tint);
}

.tint-mixin(@tint) {
	--uxa-color-bg: ~'var(--uxa-@{tint}-bg)';
	--uxa-color-alt-bg: ~'var(--uxa-@{tint}-alt-bg)';
	--uxa-color-pri: ~'var(--uxa-@{tint}-pri)';
	--uxa-color-sec: ~'var(--uxa-@{tint}-sec)';
	--uxa-color-text: ~'var(--uxa-@{tint}-text)';
	--uxa-color-link: ~'var(--uxa-@{tint}-link)';
}

.neutral,:root {
	.tint-mixin(base);
}

.dark {
	.tint-map(dark,tint);
}

.mute {
	color: var(--uxa-tint-500);
}

.primarys {
	--base-bg: #C6E4F4;
	--base-border-color: #A0CDEC;
	--base-color: #032E72;
	--stroke: #A0CDEC;
	--muted-color: rgb(103, 124, 160);
	--highlight-bg: #c2ddea;
}

.darks {
	--uxa-color-bg: #202B31; // #141B1F;
	--uxa-color-text: #bdc2c7;
	--uxa-color-link-color: #80c9ea;
	// --highlight-bg: #1f2529;
	// --highlight-color: #929da5;

	--primary-color: #62abff;

	--stroke: #262e35;
	--link-color: #80c9ea;
	--link-target-color: white;

	--input-stroke: #777777;
	--input-color: white;
	--inactive-stroke: #777777;
	--invalid-stroke: #FC4A5A;
	--focus-stroke: #478AFF;
	--disabled-stroke: #6B6B6C;

	--mi-bg: #141B1F;
	--mi-color: white;
	--mi-hover-bg: #1E2930;
}

.successz {
	--base-bg: #dff0d8;
	--base-border-color: #d0e9c6;
	--base-color: #30652F;
}

.warningz {
	--base-bg: #FCF8DD;
	--base-border-color: #F9F0C1;
	--base-color: #765A2D;
}

.dangerz {
	--base-bg: #EED6D6;
	--base-border-color: #E6C0C1;
	--base-color: #973032;
	--raised-bg: #FC3841;
}
