.Dialog.uxa {
	& > header:empty, & > footer:empty {
		display: none;
	}

	& > .body {
		padding: var(--lgu);
	}

	& > footer {
		text-align: right;
		padding: var(--mdu);
	}

	.Indicator.uxa {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 8px;
		// opacity: 0;
		// display: none;
		transition: opacity: 0.1s ease;
	}
}

.Dialog.uxa.floating {
	min-width: 300px;
	transition: opacity 0.2s ease, transform 0.2s ease;
	transform: translateY(-30px);
	opacity: 0;

	&.uxa-show {
		transform: translateY(0px);
		opacity: 1;
	}

	

	&.uxa-busy {
		transform: scale(0.95);
		.Indicator.uxa {
			// display: block;
			// opacity: 1;
		}
	}

	&.uxa-hide {
		transform: translateY(0px) scale(0.8);
		opacity: 0;
	}
}