.Menu {
	& > hr {
		margin-top: var(--xsu);
		margin-bottom: var(--xsu);
	}

	& + .backdrop {
		background: transparent;
	}
}

.--size(menu-font-size,12px,13px,14px);
.--size(menu-item-height,20px,26px,30px);
.--size(menu-hr-size,5px,8px,12px);

.menu {
	background: var(--menu-bg);
	font-size: var(--menu-font-size);

	hr {
		margin: var(--menu-size) 0px;
	}

	.item {
		height: var(--menu-item-height);
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		cursor: default;
	}

	.item:before {
		margin: 0px 6px;
		opacity: 0.3;
	}

	.item:hover {
		&:before { opacity: 1; }
	}
}

.menu.floating {
	transition: opacity 0.2s ease, transform 0.2s ease;
	transform: translateY(0px);
	width: 260px;
	max-width: 300px;
	opacity: 0;
	padding: 4px 0px;
	
	border-radius: 2px;

	&.uxa-show {
		transform: translateY(0px);
		opacity: 1;
	}

	&.uxa-hide {
		transform: translateY(0px) scale(0.95);
		opacity: 0;
	}
}

.menu .item {
	&:hover {
		background: var(--menu-hover-bg);
	}
}

.MenuItem {
	// padding: var(--mi-padding);
	display: flex;
	flex-direction: row;
	cursor: default;
	align-items: center;

	--size: var(--uxa-ctrl);
	--bg: var(--uxa-tint-0);
	--hover-bg: var(--uxa-tint-50);
	--active-bg: var(--uxa-tint-100);
	--icon-color: var(--uxa-tint-300);
	--disabled-color: var(--uxa-tint-300);

	min-height: var(--size);
	background: var(--bg);
	padding: 0px calc(var(--uxa-ctrl) * 0.5);
	color: inherit;
	text-decoration: none;

	&.pos {
		--icon-color: var(--uxa-tint-pos);
	}

	&.neg {
		--icon-color: var(--uxa-tint-neg);
	}

	&.pri {
		--icon-color: var(--uxa-tint-pri);
	}

	.Icon:first-child {
		margin-right: var(--mdu);
		color: var(--icon-color);
		--size: var(--uxa-sm-icon);
		// color: var(--mi-icon-color);
	}

	&:hover {
		text-decoration: none;
		--icon-color: var(--uxa-pri-A400);
		--bg: var(--hover-bg);
	}

	&:active {
		--bg: var(--active-bg);
	}

	&[disabled] {
		pointer-events: none;
		color: var(--disabled-color);
	}
}