.is-capitalized {
    text-transform: capitalize !important;
    }
  
.is-lowercase {
    text-transform: lowercase !important;
}
  
.is-uppercase {
    text-transform: uppercase !important;
}
  
.is-italic {
    font-style: italic !important;
}

.flexer {
	flex: 1 1 auto;
}

.is-row {
	flex-direction: row !important;
}

.is-col {
	flex-direction: column !important;
}