.Overlay {
	display: flex;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 3000;

	& > .backdrop {
		position: absolute;
		width: 100%;
		height: 100%;
		background: fade(black,30%);
		opacity: 0;
		transition: all 0.2s ease;
		top: 0px;
		left: 0px;
	}

	& > .floating {
		z-index: 1;
		// box-shadow: 0px 3px 15px fade(black,20%);
		box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.15);
		border-radius: 2px;
		margin: auto;
	}

	& > .uxa-show + .backdrop {
		opacity: 1;
	}

	& > .uxa-hide + .backdrop {
		opacity: 0;
	}

	& > .abs {
		position: absolute;
	}

	&.below {
		justify-content: flex-start; 
	}

	&.above {
		justify-content: flex-end;
	}

	& > .inline + .backdrop {
		opacity: 0;
	}

	&.autohide {
		pointer-events: none;
		& > .floating { pointer-events: auto; }
	}
}