:root {
	--drawer-width: 240px;
	--uxa-masthead-height: 64px;
}

.unit-mixin(@xs,@sm,@md,@lg,@xl) {
	--xsu: @xs;
	--smu: @sm;
	--mdu: @md;
	--lgu: @lg;
	--xlu: @xl;
}

.def-size(@size,@h1,@h2,@h3,@p,@h4,@h5,@h6) {
	--uxa-@{size}-h1: @h1;
	--uxa-@{size}-h2: @h2;
	--uxa-@{size}-h3: @h3;
	--uxa-@{size}-h4: @h4;
	--uxa-@{size}-h5: @h5;
	--uxa-@{size}-h6: @h6;
	--uxa-@{size}-p: @p;
}

.map-size(@from,@to) {
	--uxa-@{to}-h1: ~'var(--uxa-@{from}-h1)';
	--uxa-@{to}-h2: ~'var(--uxa-@{from}-h2)';
	--uxa-@{to}-h3: ~'var(--uxa-@{from}-h3)';
	--uxa-@{to}-h4: ~'var(--uxa-@{from}-h4)';
	--uxa-@{to}-h5: ~'var(--uxa-@{from}-h5)';
	--uxa-@{to}-h6: ~'var(--uxa-@{from}-h6)';
	--uxa-@{to}-p:  ~'var(--uxa-@{from}-p)';
}

:root {
	//           h1   h2   h3   p    h4   h5   h6  
	// define the sizes
	.def-size(xs,16px,14px,13px,11px,11px,10px, 9px);
	.def-size(sm,20px,20px,16px,13px,13px,10px,13px);
	.def-size(md,26px,22px,16px,15px,15px,14px,13px);
	.def-size(lg,30px,24px,18px,16px,15px,14px,13px);
	.def-size(xl,36px,28px,22px,18px,18px,16px,14px);
}

:root,.md {
	.map-size(md,size);
	.unit-mixin(4px,8px,16px,32px,48px);
}

.xs {
	.map-size(xs,size);
	.unit-mixin(2px,4px,8px,16px,24px);
}

.sm {
	.map-size(sm,size);
	--li-height: 32px;
	--btn-height: 32px;
	--icon-font-size: 14px;
	--icon-size: 18px;
	--btn-font-size: 13px;
	--btn-padding: 0px 12px;
	.unit-mixin(3px,6px,12px,24px,32px);
}

.lg {
	.map-size(lg,size);
}

// sizing
.md, :root {

	--font-size: 15px;
	--btn-font-size: 14px;
	--btn-height: 36px;
	--icon-size: 24px;
	--icon-font-size: 20px;
	--btn-padding: 0px 16px;
	--btn-min-width: 64px;
	--flat-btn-padding: 0px 8px;
	--bar-height: 48px;
	--floating-btn-size: 48px;

	--li-height: 36px;
	--li-padding: 8px 12px;
	--li-main-padding: 16px;
	--mi-padding: 8px 12px;
}

.lg {
	--bar-height: 64px;
	--icon-font-size: 26px;
	--icon-size: 32px;
}

.xl {
	--bar-height: 96px;
	--icon-font-size: 34px;
	--icon-size: 48px;
}

.hx3 {
	--h1-size: var(--h3-size);
	--h2-size: var(--h4-size);
	--h3-size: var(--h5-size);
}

.mb-xs { margin-bottom: var(--xsu); }
.mb-sm { margin-bottom: var(--smu); }
.mb-md,.mb { margin-bottom: var(--mdu); }
.mb-lg { margin-bottom: var(--lgu); }
.mb-xl { margin-bottom: var(--xlu); }

// applied
h1,.h1 { font-size: var(--uxa-size-h1); }
h2,.h2 { font-size: var(--uxa-size-h2); }
h3,.h3 { font-size: var(--uxa-size-h3); }
h4,.h4 { font-size: var(--uxa-size-h4); font-weight: bolder; }
h5,.h5 { font-size: var(--uxa-size-h5); font-weight: bolder; }
h6,.h6 { font-size: var(--uxa-size-h6); font-weight: bolder; }

h1,h2,h3,h4,h5,h6 {
	line-height: 1.2em;
}

p,.p { font-size: var(--p-size); line-height: 1.5em; }

// highlight
blockquote {
	padding: 1.5rem;
}
