
.--size(tile-pad,12px,12px,12px,12px);
.--size(tile-min-height,80px,80px,120px,160px);
.--size(tile-width,200px,250px,320px,440px);
.--size(tile-height,120px,160px,200px,320px);

.tiles {
	display: grid; // to make sure margins are not collapsed?
	margin: 0px calc(var(--col-gap) * -0.5);
	--tile-gap: calc(var(--col-gap) * 0.5);
}

.tile {
	position: relative;
	margin: var(--tile-gap);
	border: var(--tile-border);
	align-self: stretch;
	flex: 1 1 auto;
	// min-height: var(--tile-min-height);
	background: var(--tile-bg-color);
	border-radius: 2px;	
	padding: var(--tile-pad);

	.body {
		position: relative;
	}

	.legend {
		margin: 2px 0px;
	}
}