
:root {
	--tile-width: 300px;
	--tile-height: 240px;
}


.Tile {
	--bg: var(--uxa-tint-50);
	--footer-bg: var(--uxa-tint-100);

	--padding: var(--mdu);
	--spacing: var(--smu);

	h1,h2,h3 {
		color: var(--uxa-tint-1000);
	}

	width: var(--tile-width);
	height: var(--tile-height);

	.vbox;
	// display: inline-flex;
	// background: var(--bg);

	padding: var(--spacing);
	white-space: initial;

	& > .header {
		&:extend(.hbar);
		background: var(--bg);
		padding: var(--padding);
	}

	& > .main {
		background: var(--bg);
		padding: var(--padding);
		flex: 1 1 auto;
		overflow: hidden;

		.actions { &:extend(.actions-right); }
	}

	& > .footer {
		font-size: var(--h4-size);
		padding: var(--smu) var(--padding);
		background: var(--footer-bg);
		flex: 0 0 auto;

		&:extend(.hbar);

		.actions {
			&:extend(.actions-right);
		}
	}
}